@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Poetry and Verse - Standard */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* End Poetry and Verse */

/* Letters - Standard */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End Letters */

/* Dateline 'day' italicized (e.g. "Friday night") */
[epub|type~="se:letter.dateline"]{
	font-style: italic;
}

[epub|type~="se:letter.dateline"] b{
	font-style: normal;
}

#chapter-11 blockquote,
#chapter-15 blockquote{
	text-transform: uppercase;
}

.telegram{
	font-variant: all-small-caps;
}
